.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .casinoListContainer {
        width: 100%;
        height: 70%;
        padding: 20px;
        overflow-y: scroll;
        position: relative;

        .uploadModal {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(#000, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 30;
        }

        .casinoListBody {
            width: 100%;
            display: flex;
            flex-direction: column;

            > * {
                margin: 0 0 30px 0;
            }

            .casinoRow {
                // border: solid 1px rgb(136, 136, 136);
                background-color: #dddddd;
                box-shadow: 0 0 10px rgba(#000, 0.5);
                border-radius: 5px;
                height: max-content;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
                height: 100px;

                > * {
                    padding: 10px;
                    border-right: solid 1px rgb(208, 208, 208);
                }
                .casinoImageContainer {
                    // width: max-content;
                    margin: 0 10px;
                    height: 100%;

                    img {
                        height: 100%;
                        width: auto;
                    }
                }

                .casinoName {
                    height: 100%;
                    h3 {
                        margin: auto;
                    }
                }

                .buttonsContainer {
                    margin: 0 0 0 auto;
                    > :not(:last-child) {
                        margin: 0 10px 0 0;
                    }
                }
            }
        }
    }
}
