@import "./variables.scss";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    scroll-behavior: smooth;

}

div {
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $font-color;
    margin: 0;
    padding: 0;
    display: inline;
}

a {
    color: $yellow;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
