@import "../../styles/variables.scss";

.container {
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: $max-content-width;
    width: 90%;
    padding: 40px 0;

    h2 {
        margin-bottom: 20px;
    }

    .tableContainer {
        flex-direction: column;
        width: 100%;

        .table {
            width: 100%;
            flex-direction: column;

            @include tablet-m {
                align-items: center;
            }

            > :not(:last-child) {
                margin-bottom: 20px;
            }

            .tableHeaderRow, .tableRow {
                width: 100%;
                border-radius: 3px;
                position: relative;

            }

            .tableHeaderCell, .tableCell {
                align-items: center;
                justify-content: center;
                width: 20%;
            }

            .tableHeaderRow {
                justify-content: space-evenly;
                align-content: center;
                background-color: $table-header-blue;

                @include tablet-m {
                    display: none;
                }

                .tableHeaderCell {
                    color: $yellow;
                    font-size: 1.7rem;
                    padding: 20px;

                    @include desktop-m {
                        font-size: 1.5rem;
                    }

                    @include desktop-s {
                        font-size: 1.2rem;
                    }

                    @include tablet-m {
                        font-size: 1rem;
                    }
                }
            }

            .tableRow {
                padding: 20px 0;
                box-shadow: 0 0 20px rgba(#000000, 0.5);
                overflow: hidden;

                @include tablet-m {
                    flex-direction: column;
                    width: 50%;
                    align-items: center;
                }

                @include mobile-m {
                    width: 100%;
                }

                .tableCell {

                    @include tablet-m {
                        width: 100%;
                    }

                    .casinoProfilePicture {
                        $size: 150px;
                        width: $size;
                        height: $size;
                    }


                    .featureRow {
                        width: 100%;
                        padding: 0 0 0 35%;
                        justify-content: flex-start;
                        text-transform: capitalize;

                        @include tablet-m {
                            padding: 0;
                            justify-content: center;
                        }

                        @include mobile-m {
                            font-size: 0.6rem;
                        }

                        svg {
                            height: auto;
                            width: 15px;
                            margin-right: 10px;

                        }
                    }

                    .bonusTextContainer {
                        flex-direction: column;
                        height: 100%;
                        align-content: center;
                        justify-content: center;
                        font-size: 1rem;
                    }
                }

                .keyFeaturesRowsContainer {
                    flex-direction: column;

                    @include tablet-m {
                        flex-direction: row;
                    }
                }

                .tableRankContainer {
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: $yellow;
                    top: -30px;
                    left: -30px;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    z-index: 19;
                    padding-top: 18px;
                    padding-left: 23px;
                    font-weight: 500;
                }
            }
        }
    }
}

.goToCasinoButton {
    border-radius: 20px;
    background-color: $yellow;
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
    align-items: center;
    height: max-content;

    &:hover {
        cursor: pointer;
    }

    a {
        color: white;
        margin-right: 5px;
        margin-top: -3px;
    }

    :nth-child(2) {
        transform: rotate(-90deg);
        color: white;
    }
}

// Iphone X
@media only screen and (max-width: 376px) {
    .container {
        text-align: center;

        .tableContainer {
            table {
                th:first-child,
                td:first-child {
                    display: none;
                }

                font-size: 0.7rem;
            }
        }
    }
}
