@import "../../styles/variables.scss";

.container {
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: $max-content-width;
    width: 100%;
    padding: 40px;

    h2 {
        margin-bottom: 20px;
    }

    .tableContainer {
        flex-direction: column;
        width: 100%;

        .table {
            width: 100%;
            flex-direction: column;

            > :not(:last-child) {
                margin-bottom: 20px;
            }

            .tableHeaderRow, .tableRow {
                width: 100%;
                border-radius: 3px;

            }

            .tableHeaderCell, .tableCell {
                align-content: center;
                justify-content: center;
                width: 20%;
            }

            .tableHeaderRow {
                justify-content: space-evenly;
                align-content: center;
                background-color: $table-header-blue;

                .tableHeaderCell {
                    color: $yellow;
                    font-size: 1.7rem;
                    padding: 20px;

                    @include desktop-m {
                        font-size: 1.5rem;
                    }

                    @include desktop-s {
                        font-size: 1.2rem;
                    }

                    @include tablet-m {
                        font-size: 1rem;
                    }
                }
            }

            .tableRow {
                padding: 20px 0;
                box-shadow: 0 0 20px rgba(#000000, 0.5);

                .tableCell {

                    .casinoProfilePicture {
                        $size: 150px;
                        width: $size;
                        height: $size;
                    }
                }
            }


            .tableRankContainer {
                position: absolute;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: $yellow;
                top: -30px;
                left: -30px;
                justify-content: center;
                align-items: center;
                color: $white;
                z-index: 19;
                padding-top: 18px;
                padding-left: 23px;
                font-weight: 500;
            }


        }
    }
}

.goToCasinoButton {
    border-radius: 20px;
    background-color: $yellow;
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
    align-items: center;

    a {
        color: white;
        margin-right: 5px;
        margin-top: -3px;
    }

    :nth-child(2) {
        transform: rotate(-90deg);
        color: white;
    }
}

// Iphone X
@media only screen and (max-width: 376px) {
    .container {
        text-align: center;

        .tableContainer {
            table {
                th:first-child,
                td:first-child {
                    display: none;
                }

                font-size: 0.7rem;
            }
        }
    }
}
