@import "../../styles/variables.scss";

.container {

  height: 300px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  &:after {
    background: url(/introduction-background.jpg);
    background-size: 800px;
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .textContainer,
  .mediaContainer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    iframe {
      width: 61%;
      height: 61%;
    }
  }

  .textContainer {
    .text {
      word-wrap: break-word;
      flex-direction: column;
      font-weight: 500;
      max-width: 65%;
      h2 {
        font-size: 20px;
      }
      h4 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
    }
  }

  .arrowContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

    *:hover {
      cursor: pointer;
    }

    p {
      margin: 0 0 -15px 0;
      font-size: 12px;
      font-weight: 700;
      color: $font-color;
    }

    .arrow {
      color: $font-color;
      margin-bottom: -10px;
      svg {
        font-size: 60px;
      }
    }
  }
}


// Iphone X
@media only screen and (max-width: 376px){
  .container {
    flex-direction: column;
    text-align: center;
    height: 500px;

    .mediaContainer {
      iframe {
        width: 90%;
        height: 90%;
      }
    }

    .arrowContainer {
      position: relative;
    }
  }
}
